body {
  background-color: #000000;
}

.imageBlock {
  float: left;
}

.button {
  /*text-decoration: none;*/
  /*font-size: .875rem;*/
  /*text-transform: uppercase;*/
  /*display: inline-block;*/
  /*border-radius: 1.5rem;*/
  background-color: #888888;
  color: #AAAAAA;
  /*padding: 1rem 2rem;*/
  /*font-weight: 900;*/
}

.popup {
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  /*position: fixed;*/
  width: 100vw;
  height: 100vh;
  /*bottom: 0;*/
  /*right: 0;*/
  background-color: rgba(0, 0, 0, 0.8);
  /*z-index: 2;*/
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: .5s ease-in-out;
}

.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  transform: rotate(32deg);
  transition: .5s ease-in-out;
}

.popupphoto {
  /*display: flex;*/
  /*justify-content: flex-end;*/
  /*align-items: flex-end;*/
  /*width: 40%;*/
  /*height: 100%;*/
  overflow: hidden;
}

.popupphoto img {
  width: auto;
  height: 100%;
}

.popuptext {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  /*padding: 4rem;*/
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
