html, body {
    font-family: arial;
    padding: 0 2em;
    font-size: 18px;
    background: #444444;
    color: #aaa;
    text-align:center;
    margin-top: 50px;
}
a {
    text-decoration: none;
}
.container {
	display: flex;
	flex-flow: row wrap;
	background-color: #000000
}
.container > div {
	background-color: #888888;
	width: 320px;
	height: 200px;
}
.popupimage {
	background-image: url("test.jpg");
	background-color: #000000;
	max-width: 90%;
	max-height: 90%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	z-index: 999;
	opacity: 0;
	transition: opacity 0.6s;
	webkit-transition: opacity 0.6s;
}
.popupimage:target {
	outline: none;
	width: 100%;
	height: 100%;
	opacity: 1 !important;
}
